<div class="pimg1">
    <div class="ptext">
        <h1>Hi! I'm Ainslee Smith. </h1>
    </div>
</div>
<div id="mainContainer" class="container-fluid fill">
    <div id="main" class="item">
        <h4> I’m an efficiency-driven problem solver who thrives
            at the intersection of structure, learning, and collaboration.
            I aim to bring organization and continuous improvement to every
            team I join. I believe in the power of curiosity, thoughtful planning,
            and people-centered problem-solving to create smoother processes,
            better experiences, and meaningful progress.
        </h4>
        <div id="inv">
            <h2>Projects!</h2><br>
            <p id="p"> updates coming soon...</p>
        </div>