---
---

@import "{{ site.theme }}";

.profile-photo {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: auto;
    flex: 0 0 250px;
  }
  
  

@media (max-width: 768px) {
    .wrapper {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 1rem;
    }
  }
  
