---
---

@import "{{ site.theme }}";

.moving-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }

.profile-photo {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: auto;
    flex: 0 0 250px;
  }
  
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
      }
    
    .profile-photo {
        width: 180px;
      }
  }
  
